body {
  width:700px;
  margin:auto;
  margin-top: 150px;
  }
.digits {
  height: 150px;
}
.hide {
  display: none;
}
#canvas1 {
  z-index: 1;
  position:absolute;
  left:0px;
  top:0px;
}

#canvas2 {
  z-index: 2;
  position:absolute;
  left:0px;
  top:0px;
}

#canvas3 {
  z-index: 3;
  position:absolute;
  left:0px;
  top:0px;
}

#canvas4 {
  z-index: 4;
  position:absolute;
  left:0px;
  top:0px;
}

